<section class="section">
  <div class="container" align="center">
      <div class="columns is-centered">
          <div class="column is-half">
              <h3 class="title is-3">TABLE DE MULTIPLICATION</h3>
              <form [formGroup]="identForm" (ngSubmit)="mult()">
                  <div class="field">
                      <label class="label">Entrez un chiffre :</label>
                      <div class="control" align="center">
                          <p [ngClass]="{ 'has-error': isSubmitted && badLogin }">
                              <input class="input is-success" formControlName="chiffre" type="number" placeholder="Entrez un entier" value="">
                          </p>
                          <div *ngIf="isSubmitted && badLogin" class="help-block">
                              <div *ngIf="badLogin">Un chiffre est démandé !</div>
                          </div>
                      </div>
                  </div>
                  <div class="field is-grouped">
                      <div class="control">
                          <button class="button is-link">Calculer</button>
                      </div>
                  </div>
              </form>
              <ul *ngIf="chiffre">
                  <li *ngFor="let numbers of table">
                      {{numbers.num}} x {{chiffre}} = {{numbers.num * chiffre}}
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>